[submodule ".registry"]
	path = .registry
	url = https://github.com/brancengregory/brancengregory.r-universe.dev
	branch = HEAD
[submodule "secretmanager"]
	path = secretmanager
	url = https://github.com/brancengregory/secretmanager
[submodule "startrackr"]
	path = startrackr
	url = https://github.com/brancengregory/startrackr
[submodule "stringrs"]
	path = stringrs
	url = https://github.com/brancengregory/stringrs
