[submodule ".registry"]
	path = .registry
	url = https://github.com/brancengregory/brancengregory.r-universe.dev
	branch = HEAD
[submodule "tidyverse"]
	path = tidyverse
	url = https://github.com/tidyverse/tidyverse
