[submodule ".registry"]
	path = .registry
	url = https://github.com/brancengregory/brancengregory.r-universe.dev
	branch = HEAD
[submodule "googlesecretmanager"]
	path = googlesecretmanager
	url = https://github.com/brancengregory/googlesecretmanager
[submodule "startrackr"]
	path = startrackr
	url = https://github.com/brancengregory/startrackr
[submodule "stringrs"]
	path = stringrs
	url = https://github.com/brancengregory/stringrs
